<div class="mx-60 mt-60 mb-40" id="features">
  <div class="grid grid-cols-3 gap-8 grid-rows-2">
    <div class="card flex flex-row">
      <div>
        <span
          class="flex justify-center align-center bg-red-900 bg-opacity-75 w-14 h-14 ml-4 rounded-2xl"
        >
          <span class="material-symbols-outlined text-4xl text-white pt-2">
            calendar_month
          </span>
        </span>
      </div>
      <div class="flex flex-col ml-8 mt-3 mr-6">
        <div class="mb-4">
          <span class="text-xl font-bold text-v-purple">Complete Planning Control</span>
        </div>
        <div>
          <p class="mt-4 mb-48 text-lg">
            Give your clients the power to plan every aspect down to the smallest detail with our custom Event
            Editor using a simple drag-and-drop interface.
          </p>
        </div>
      </div>
    </div>
    <div class="card flex flex-row">
      <div>
        <span
          class="flex justify-center align-center bg-red-900 bg-opacity-75 w-14 h-14 ml-4 rounded-2xl"
        >
          <span class="material-symbols-outlined text-4xl text-white pt-2">
            chat_bubble
          </span>
        </span>
      </div>
      <div class="flex flex-col ml-8 mt-3 mr-6">
        <div class="mb-4">
          <span class="text-xl font-bold text-v-purple">Effortless Communication</span>
        </div>
        <div>
          <p class="mt-4 mb-48 text-lg">
            Use our built-in chat system to directly communicate with clients
            without ever interrupting your workflow.
          </p>
        </div>
      </div>
    </div>
    <div class="card flex flex-row">
      <div>
        <span
          class="flex justify-center align-center bg-red-900 bg-opacity-75 w-14 h-14 ml-4 rounded-2xl"
        >
          <span class="material-symbols-outlined text-4xl text-white pt-2">
            pin_drop
          </span>
        </span>
      </div>
      <div class="flex flex-col ml-8 mt-3 mr-6">
        <div class="mb-4">
          <span class="text-xl font-bold text-v-purple">All Your Events in One Place</span>
        </div>
        <div>
          <p class="mt-4 mb-48 text-lg">
            Easily manage all of your clients in one easy-to-navigate space 
            and never worry about missing even the smallest detail.
          </p>
        </div>
      </div>
    </div>
    <div class="card flex flex-row">
      <div>
        <span
          class="flex justify-center align-center bg-red-900 bg-opacity-75 w-14 h-14 ml-4 rounded-2xl"
        >
          <span class="material-symbols-outlined text-4xl text-white pt-2">
            thumb_up
          </span>
        </span>
      </div>
      <div class="flex flex-col ml-8 mt-3 mr-6 text-v-purple">
        <div class="mb-4">
          <span class="text-xl font-bold text-v-purple">Total Venue Confidence</span>
        </div>
        <div>
          <p class="mt-4 text-lg">
            Venuoso's Event Editor enable's you to bring your client's precise
            vision to life through their design, using your exact inventory.
          </p>
        </div>
      </div>
    </div>
    <div class="card flex flex-row">
      <div>
        <span
          class="flex justify-center align-center bg-red-900 bg-opacity-75 w-14 h-14 ml-4 rounded-2xl"
        >
          <span class="material-symbols-outlined text-4xl text-white pt-2">
            conversion_path
          </span>
        </span>
      </div>
      <div class="flex flex-col ml-8 mt-3 mr-6">
        <div class="mb-4">
          <span class="text-xl font-bold text-v-purple">AI Generated Estimates</span>
        </div>
        <div>
          <p class="mt-4 text-lg">
            As your clients design their events using our editor, an estimated
            cost is generated based on the pricing metrics you can preconfigure
            for all of your venues.
          </p>
        </div>
      </div>
    </div>
    <div class="card flex flex-row">
      <div>
        <span
          class="flex justify-center align-center bg-red-900 bg-opacity-75 w-14 h-14 ml-4 rounded-2xl"
        >
          <span class="material-symbols-outlined text-4xl text-white pt-2">
            inventory_2
          </span>
        </span>
      </div>
      <div class="flex flex-col ml-8 mt-3 mr-6 text-v-purple">
        <div class="mb-4">
          <span class="text-xl font-bold text-v-purple">Inventory Management</span>
        </div>
        <div>
          <p class="mt-4 text-lg">
            Our editor provides your clients with real-time inventory numbers as
            well as "re-stocking" when an event ends, resulting in zero downtime
            in scheduling your location's next event.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
