<div class="bg-slate-800 py-20" id="contact-us">
  <div class="items-center">
    <!-- Contact Card 1 left -->
    <div class="bg-slate-100 text-black rounded-md p-6 w-1/2 mx-auto">
      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        class=""
      >
        <p class="text-3xl font-bold mb-6 text-center">SEND A MESSAGE</p>
        <p class="text-center pb-4">
          Have a question? Fill this form and we will get back to you as soon as
          possible.
        </p>
        <div class="flex mb-4">
          <div class="border-b border-slate-500 py-1 mr-2 flex-1">
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              placeholder="FIRST NAME*"
              class="bg-transparent text-black placeholder-gray-400 w-full focus:outline-none"
            />
          </div>
          <div class="border-b border-slate-500 py-1 flex-1">
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              placeholder="LAST NAME*"
              class="bg-transparent text-black placeholder-gray-400 w-full focus:outline-none"
            />
          </div>
        </div>
        <div class="border-b border-slate-500 py-1 mb-4">
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="EMAIL ADDRESS*"
            class="bg-transparent text-black placeholder-gray-400 w-full focus:outline-none"
          />
        </div>
        <div class="border-b border-slate-500 py-1 mb-4">
          <input
            type="phone"
            id="phone"
            formControlName="phoneNumber"
            placeholder="PHONE NUMBER"
            class="bg-transparent text-black placeholder-gray-400 w-full focus:outline-none"
          />
        </div>
        <div class="border-b border-slate-500 py-1 mb-4">
          <textarea
            id="message"
            formControlName="message"
            rows="6"
            placeholder="YOUR MESSAGE*"
            class="bg-transparent text-black placeholder-gray-400 w-full focus:outline-none bg-slate-50"
          ></textarea>
        </div>
        <div class="flex justify-center mt-4">
          <button
            type="submit"
            class="bg-white border-2 hover:bg-slate-700 hover:text-white text-gray-500 font-extrabold py-2 px-4 w-1/2"
          >
            SUBMIT &rarr;
          </button>
        </div>
        <div
          *ngIf="submissionSuccess"
          class="flex flex-col items-center mt-5 font-semibold bg-violet-300 text-md"
        >
          Thank you for your message. We will be in touch soon.
        </div>
      </form>
    </div>

  </div>
</div>
