<footer class="bg-black w-full h-auto py-5 text-slate-300 text-sm">
  <!-- column 1 -->
  <div
    class="grid grid-cols-2 md:grid-cols-4 w-full lg:w-1/2 px-10 pb-4 mx-auto"
  >
    <div class="col-span-1 text-left pt-5">
      <span class="block mb-2 font-bold text-slate-600">Venuoso</span>
      <span class="block mb-2">Social # 1</span>
      <span class="block mb-2">Social # 2</span>
      <span class="block mb-2">Social # 3</span>
    </div>

    <!-- column 2 -->
    <div class="col-span-1 text-left pt-5">
      <span class="block mb-2 font-bold text-slate-600">Site Sections</span>
      <span class="block mb-2">How it works</span>
      <span class="block mb-2">Pricing</span>
      <span class="block mb-2">Contact us</span>
      <span class="block mb-2">Meet the team</span>
    </div>

    <!-- column 3 -->
    <div class="col-span-1 text-left pt-5">
      <span class="block mb-2 font-bold text-slate-600">Resources</span>
      <span class="block mb-2">Terms & conditions</span>
      <span class="block mb-2">Customer support</span>
      <span class="block mb-2">Manage subscription</span>
      <span class="block mb-2">Privacy policy</span>
      <span class="block mb-2">Investor Relations</span>
      <span class="block mb-2">Invoice Request</span>
      <span class="block mb-2">Request a feature</span>
      <span class="block mb-2">Report an issue</span>
      <span class="block mb-2">FAQs</span>
    </div>

    <!-- column 4 -->
    <div class="col-span-1 text-left pt-5">
      <span class="block mb-2 font-bold text-slate-600">Tutorials</span>
      <span class="block mb-2">Getting started</span>
      <span class="block mb-2">Submit a design</span>
      <span class="block mb-2">Editing a design</span>
      <span class="block mb-2">Tips and tricks</span>
      <span class="block mb-2">Step-by-step guides</span>
    </div>
  </div>

  <div class="text-center w-full pt-10 mx-auto text-slate-600">
    10 Virtual Dr, Ste#210, New York, NY, 55500, USA <br />
    &copy; 2024 Venuoso. All rights reserved.
  </div>
</footer>
