<!-- <footer class="bg-black rounded-md shadow-md w-full flex flex-col items-center">
    <div class="flex flex-row mt-8 gap-4 mb-12 items-center justify-center">
        <span class="text-lg font-semibold mr-9 text-white">Follow Us</span>
        <img class="w-12 h-12 hover:cursor-pointer" src="../../../assets/social-icons/fb_round.svg">
        <img class="w-12 h-12 hover:cursor-pointer" src="../../../assets/social-icons/twitter_round.svg">
        <img class="w-12 h-12 hover:cursor-pointer" src="../../../assets/social-icons/insta_round.svg">
    </div>
    <div class="flex text-white text-lg flex-row mt-4 gap-16 mb-9 divide-x-2 divide-gray-300 divide-solid">
        <a class="hover:cursor-pointer" href="#features">Features</a>
        <a class="pl-16 hover:cursor-pointer" href="#pricing">Pricing</a>
        <a class="pl-12 hover:cursor-pointer">Contact</a>
    </div>
    <span class="mt-8 text-gray-300 mb-4">© 2024 Venuoso. All rights reserved.</span>
</footer> -->

<footer class="bg-black w-full grid grid-cols-3 gap-4 h-1/6">
    <div class="p-4 text-white">VENUOSO</div>
    <div class="p-4 text-white">HOME | CONTACT US | MEET THE TEAM</div>
    <div class="p-4 text-white">SOCIALS</div>
</footer>