<div class="flex flex-row justify-center">
    <div class="flex flex-col w-1/3">
        <div>
            <span class="text-v-purple text-4xl font-bold">Helping venues create <span class="text-v-blue">the perfect event</span></span>
        </div>
        <div class="mt-20">
            <p class="text-v-purple text-lg">
                Planning the event of a lifetime just became easier. Venuoso puts the power of planning on paper by allowing anyone to
                craft their ideal event in an intuitive click-and-drag environment while doing all of the heavy lifting and calculating
                for venue owners.
            </p>
        </div>
        <div class="mt-20">
            <button class="bg-v-purple rounded text-white font-bold py-4 px-12 hover:bg-v-purple-hover">START YOUR FREE TRAIL</button>
        </div>
    </div>
    <div class="flex flex-col align-middle ml-60">
            <img class="w-[700px]" src="../../../assets/placeholder-img.png">
    </div>
</div>