<div class="flex flex-col w-full px-60 my-24">
  <div class="flex flex-row items-start mb-4">
    <div class="w-1/2 flex justify-start p-8">
      <img
        class="rounded-2xl"
        src="../../../assets/custom-event-editor.jpg"
        alt="People pointing at a laptop running the Venuoso Event Editor application"
      />
    </div>
    <div class="flex flex-col w-1/2 mt-6 p-8">
      <span class="font-semibold text-4xl text-v-purple"><span class="text-v-blue">Custom</span> Event Editor</span>
      <div class="text-lg mt-8">
        <p>
          No matter the size, Venuoso makes planning events easy using the
          custom Event Editor. Clients simply drag-and-drop to build the ideal event layout using your own inventory 
          and then submit their creation directly to you, the venue for approval.
        </p>
      </div>
      <div class="text-lg mt-6">
        <p>
          Envisioning your clients perfect event has never
          been easier. After a client submits their layout, you are able to
          approve all the details and even accept payments instantly.
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-row items-start mt-4">
    <div class="flex flex-col w-1/2 mt-6 p-8">
      <span class="font-semibold text-4xl text-v-blue"><span class="text-v-purple">Seemless</span> Communication</span>
      <div class="text-lg mt-8">
        <p>
          Are your customers plans getting too big for paper? Venuoso's built-in 
          chat system allows customers to contact you directly to request special accommodations 
          or discuss other requests.
        </p>
      </div>
      <div class="text-lg mt-6">
        <p>
          Contacting your clients has never been easier. Venue owners can instantly
          contact clients to discuss their approval status, important updates,
          billing, and much more.
        </p>
      </div>
    </div>
    <div class="w-1/2 flex justify-end p-8">
      <img
        class="rounded-2xl"
        src="../../../assets/seamless-communication.jpg"
        alt="Person communicating on laptop through Venuoso built-in chat function."
      />
    </div>
  </div>
</div>
