<div class="bg-slate-100 flex justify-center items-center pb-10" id="showcase">
  <div class="grid grid-cols-2 w-full">
    <!-- Card 1 -->
    <div class="bg-slate-100 p-4 flex justify-center items-center rounded-tl-2xl">
      <img src="assets/images/showcase_blueprint.jpg" alt="blueprint img" style="max-width: 100%; height: auto;">
    </div>
    <!-- Card 2 -->
    <div class="bg-slate-100 text-slate-800 p-3 w-5/6 mx-auto">
      <p class="text-7xl font-bold text-center">CUSTOM EVENT EDITOR</p>
      <p class="text-lg text-justify">
      
      No matter the size, Venuoso makes planning events easy using the custom Event Editor.
      Clients simply drag-and-drop to build the ideal event layout using your own inventory
      and then submit their creation directly to you, the venue for approval.

      Envisioning your clients perfect event has never been easier.
      After a client submits their layout, you are able to approve all the details and
      even accept payments instantly.
      
      <p class="text-center">
        <button class="p-2 bg-purple-400 rounded-md border border-black text-lg shadow-md shadow-black active:shadow-none">
            START YOUR FREE TRIAL NOW
        </button>
    </p>
    </div>
    <!-- Card 3 -->
    <div class="bg-slate-100 text-slate-800 p-3 w-5/6 mx-auto">
      <p class="text-6xl font-bold">SEAMLESS COMMUNICATION</p>
      <p class="text-lg text-justify">

      Are your customers plans getting too big for paper?
      Venuoso's built-in chat system allows customers to contact
      you directly to request special accommodations or discuss other requests.

      Contacting your clients has never been easier. Venue owners can instantly
      contact clients to discuss their approval status, important updates,
      billing, and much more.

      <p class="text-center">
        <button class="p-2 bg-purple-400 rounded-md border border-black text-lg shadow-md shadow-black active:shadow-none">
            START YOUR FREE TRIAL NOW
        </button>
    </p>
    </div>
    <!-- Card 4 -->
    <div class="bg-slate-100 p-4 flex justify-center items-center rounded-br-2xl">
      <img src="assets/images/showcase_talking.jpg" alt="talking" style="max-width: 100%; height: auto;">
    </div>
  </div>
</div>
