<div class="flex flex-col items-center mb-8" id="pricing">
    <span class="text-2xl font-bold text-v-purple mb-2">Choose your plan</span>
    <p class="text-lg font-medium border-v-purple">Choose a plan that's right for your venue. Simple pricing. No hidden
        charges.</p>
    <mat-button-toggle-group class="mb-8 mt-8" name="planSelection" aria-label="Plan Selection" value="monthly">
        <mat-button-toggle class="px-8" value="monthly"
            (change)="togglePricing($event.value)"><span>Monthly</span></mat-button-toggle>
        <mat-button-toggle class="px-8" value="annually"
            (change)="togglePricing($event.value)"><span>Annually</span></mat-button-toggle>
    </mat-button-toggle-group>
    <img class="absolute float-right ml-[500px] mt-24" src="../../../assets/savings.png">
    <div>
        <div class="flex flex-row gap-x-8 text-center">
            <div class="flex flex-col font-semibold rounded-md bg-v-tan W-1/3 px-16">
                <span class="font-v-purple mb-8 mt-4">BASIC</span>
                <span class="text-4xl text-white">{{selectedPricing.basic | currency:'USD':'symbol'}}</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-2">PERFECT FOR A SINGLE
                    VENUE</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-2">CHAT ANYTIME WITH
                    CLIENTS</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-2">CUSTOM EDITOR
                    ACCESS</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-12">UP TO 5 EVENTS A
                    MONTH</span>
                <button
                    class="bg-v-tan rounded border-2 border-v-purple text-v-purple py-2 px-6 hover:bg-v-purple-hover hover:text-white mb-20"><span
                        class="text-lg font-semibold">Subscribe</span></button>
            </div>
            <div class="flex flex-col font-semibold rounded-md bg-v-tan W-1/3 px-16">
                <span class="font-v-purple mb-8 mt-4">PRO</span>
                <span class="text-4xl text-white">{{selectedPricing.professional | currency:'USD':'symbol'}}</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-2">ALL BASIC FEATURES, PLUS:</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-2">INVENTORY MANAGEMENT</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-2">COST ESTIMATES FOR CLIENTS</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-12">UP TO 15 EVENTS A MONTH</span>
                <button
                    class="bg-v-tan rounded border-2 border-v-purple text-v-purple py-2 px-6 hover:bg-v-purple-hover hover:text-white mb-20"><span
                        class="text-lg font-semibold">Subscribe</span></button>
            </div>
            <div class="flex flex-col font-semibold rounded-md bg-v-tan W-1/3 px-12">
                <span class="font-v-purple mb-8 mt-4">PREMIUM</span>
                <span class="text-4xl text-white">{{selectedPricing.enterprise | currency:'USD':'symbol'}}</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-2">ALL PRO FEATURES, PLUS:</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-2">EARLY ACCESS TO NEW FEATURES</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-2">UNLIMITED EVENTS</span>
                <span class="text-v-purple mt-8 underline underline-offset-8 decoration-white mb-12">AND MORE..</span>
                <button class="bg-v-tan rounded border-2 border-v-purple text-v-purple py-2 px-6 hover:bg-v-purple-hover hover:text-white mb-20"><span class="text-lg font-semibold">Subscribe</span></button>
            </div>
        </div>
    </div>
</div>