<div class="w-full min-h-screen flex justify-center items-center overflow-hidden mx-0 px-0">

    <div class="absolute top-0 left-0 w-full h-full">
      <video 
      [autoplay]="true"
      [muted] ="true"
      class="absolute inset-0 w-full h-full object-cover"
      [loop]="true" 
      [class]="filterClass + ' transition-all duration-1000 ease-in-out'" src="assets/images/trailover.webm">
        Your browser does not support the video tag.
      </video>
    </div>
  
    <div class="z-20 rounded-2xl w-1/2 p-5 shadow-violet-300 shadow-sm border border-black text-white bg-gray-900/[.97]">
      <p class="font-sans text-2xl text-center">
      HELPING VENUES CREATE
      </p>
      <p class="font-sans text-6xl font-bold text-center pb-4 text-transparent bg-clip-text bg-gradient-to-r from-[rgba(191,213,237)] to-[rgba(209,137,233)]">
      THE PERFECT VENUE
      </p>
      <hr class="w-auto border-t-1 border-violet-400 p-4">
      <p class="text-lg text-justify">
        Planning the event of a lifetime just became easier. 
        Venuoso utilizes an intuitive click-and-drag event builder, 
        enabling your clients to create the perfect event every time. 
        Simply send a link to your client or embed it in your website 
        to give your customers complete planning freedom and receive an 
        exact copy when they are done. Let our custom Event Planner 
        handle all of the details including pricing, payments, inventory, and more.
      </p>
    </div>
    
  </div>