<div class="flex flex-row justify-center">
    <div class="flex flex-col w-1/3">
        <div>
            <span class="text-v-purple text-4xl font-bold">Helping venues create</span>
            <span class="mt-4 text-v-blue text-4xl font-bold block">the perfect event</span>
        </div>
        <div class="mt-20">
            <p class="text-v-purple text-lg">
                Planning the event of a lifetime just became easier. Venuoso utilizes an intuitive click-and-drag event
                builder,
                enabling your clients to create the perfect event every time. Simply send a link to your client or embed
                it in
                your website to give your customers complete planning freedom and receive an exact copy when they are
                done.
                Let our custom Event Planner handle all of the details including pricing, payments, inventory, and more.
            </p>
        </div>
        <div class="mt-8">
            <p class="text-v-purple text-xl font-bold">
                Try Venuoso free for a week today
            </p>
        </div>
        <div class="mt-16">
            <button class="bg-v-purple rounded text-white font-bold py-4 px-12 hover:bg-v-purple-hover">START YOUR FREE
                TRAIL</button>
        </div>
    </div>
    <div class="flex flex-col align-middle ml-60">
        <img class="w-[700px]" src="../../../assets/placeholder-img.png">
    </div>
</div>