<div class="w-full min-h-screen flex justify-center items-center overflow-hidden">
    <!-- Video background with conditional class for grayscale to color transition -->
    <div class="absolute top-0 left-0 w-full h-full">
      <video 
      [autoplay]="true"
      muted 
      class="absolute inset-0 w-full h-full object-cover"
      [loop]="true" 
      [class]="filterClass + ' transition-all duration-1000 ease-in-out'" src="assets/images/trailover.webm">
        Your browser does not support the video tag.
      </video>
    </div>
  

    <!-- overlay content -->
    <div class="z-20 text-black bg-amber-100 rounded-md w-1/2 p-5 opacity-90">
      <p class="font-bold text-6xl text-lefty">Helping venues create the perfect event</p>
      <hr class="w-auto border-t-4 border-black mx-auto pb-4">
      <p class="text-justify">Planning the event of a lifetime just became easier. Venuoso utilizes an intuitive click-and-drag event builder, enabling your clients to create the perfect event every time. Simply send a link to your client or embed it in your website to give your customers complete planning freedom and receive an exact copy when they are done. Let our custom Event Planner handle all of the details including pricing, payments, inventory, and more. </p>
    </div>
  </div>
  