<div class="w-full flex flex-col justify-center items-center">
  <div class="flex flex-row justify-between max-w-6xl mt-48 mx-10">
    <div class="flex flex-col w-1/2 mb-40">
      <div class="">
        <p class="text-lg font-normal">About Us</p>
      </div>
      <div>
        <p class="text-4.5xl text-gray-800 leading-none">
          Helping Venues Deliver Exceptional Booking Experiences
        </p>
      </div>
      <div class="my-6">
        <p class="text-lg text-blue-900">
          Venuoso is the leading provider of comprehensive event planning,
          booking, and management software, designed for both venues and
          clients. We make software that ensures events are planned perfectly
          and run reliably. Our platform simplifies all stages of event
          coordination—from planning and booking to management and
          follow-up—ensuring a seamless experience. Our commitment to innovative
          planning and booking solutions, focused on user satisfaction, sets us
          apart, empowering venue clients, owners, and event planners with tools
          that streamline coordination, enhance communication, and optimize
          logistics.
        </p>
      </div>
      <div>
        <button
          class="h-12 w-40 py-2 px-2 rounded-md bg-blue-500 hover:bg-blue-700 text-white text-lg"
        >
          Sign Up Free
        </button>
      </div>
    </div>
    <div class="flex w-1/2 items-start">
      <!-- https://unsplash.com/photos/two-person-standing-on-gray-tile-paving-TamMbr4okv4 -->
      <img
        class="object-contain pt-14 pl-14"
        src="assets/images/passion.png"
        alt="Two people standing on a sidewalk that has 'Passion Led Us Here' written on it."
      />
    </div>
  </div>
  <div
    class="w-full bg-v-light-blue-gray flex flex-col justify-between items-center"
  >
    <div class="max-w-6xl mx-10 pb-4 pt-8 flex flex-col justify-between">
      <hr
      class="h-0.5 mt-2 mb-18 bg-gray-300 border-0 my-16"
    />
      <div class="flex flex-col items-center">
        <div class="bg-white pt-6 pb-8 px-8 rounded-xl shadow-md">
          <div class="">
            <p class="text-xl text-gray-800 pb-2">Our Story</p>
          </div>
          <p class="text-4.5xl text-gray-800">
            Pioneering Event Solutions
          </p>
        </div>
        <div class="flex flex-col items-center">
          <div class="flex flex-row justify-between mt-16 bg-white px-10 py-10 rounded-2xl shadow-lg">
            <div class="flex flex-col w-1/2 items-start pr-8">
              <p class="text-3xl pt-2">Innovative Beginnings</p>
              <p class="text-lg leading-normal pt-6 pr-2">
                Our story at Venuoso started from a simple, yet profound desire
                to revolutionize the event management industry. Our founders
                saw an opportunity to bridge a gap with a more
                intuitive and powerful solution. Engaging closely with event
                planners and venue managers right from the start, we shaped our
                software around the real needs of our users, establishing a
                user-centric approach that still guides our innovations today.
              </p>
            </div>
            <div class="flex w-1/2">
              <img
                class="object-cover h-80 w-full ml-6 rounded-xl"
                src="assets/images/innovating.png"
                alt=""
              />
            </div>
          </div>
          <div class="flex flex-row justify-between mt-10 bg-white px-10 py-10 rounded-3xl shadow-lg">
            <div class="flex w-1/2">
              <img
                class="object-cover h-80 w-full mr-6 rounded-xl"
                src="assets/images/earth.png"
                alt=""
              />
            </div>
            <div class="flex flex-col w-1/2 items-start pl-8">
              <p class="text-3xl pt-2">Sustainability in Event Planning</p>
              <p class="text-lg leading-normal pt-6">
                Sustainability is key in today’s world, and at Venuoso, we're
                proud to contribute to greener events. Our software helps reduce
                the need for physical travel and paper use, promoting more
                sustainable event practices. By optimizing resource management
                and minimizing waste, we help our clients not only succeed, but
                do it while also being environmentally responsible. This
                dedication to sustainability reflects our broader commitment to
                social responsibility and making a positive impact.
              </p>
            </div>
          </div>
          <div class="flex flex-row justify-between mt-10 bg-white px-10 py-10 rounded-3xl shadow-lg">
            <div class="flex flex-col w-1/2 items-start pr-8">
              <p class="text-3xl pt-2">Global Reach, Local Impact</p>
              <p class="text-lg leading-normal pr-2 pt-6">
                While Venuoso operates on a global scale, our focus on local
                impact sets us apart. We understand that every market has its
                unique challenges and opportunities. By adapting our software to
                meet local needs, whether through language customization,
                compliance with local regulations, or integration with regional
                vendors, we ensure that our users everywhere can benefit from
                tailored solutions that make a real difference in their
                communities.
              </p>
            </div>
            <div class="flex w-1/2">
              <img
                class="object-cover h-80 w-full ml-6 rounded-xl"
                src="assets/images/global.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <hr
        class="h-0.5 mt-20 mb-8 bg-gray-300 border-0 my-16"
      />
      <div class="flex flex-row justify-between px-20">
        <!-- <div>
          <p class="text-5xl text-blue-900">300</p>
          <p>Words Words Words Words</p>
        </div>
        <div>
          <p class="text-5xl text-blue-900">300</p>
          <p>Words Words Words Words</p>
        </div>
        <div>
          <p class="text-5xl text-blue-900">300</p>
          <p>Words Words Words Words</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
