<div class="mx-60 mt-36 mb-40">
  <div class="grid grid-cols-3 gap-8 grid-rows-1">
    <div class="flex flex-col items-center ml-8 mt-3 mr-6 text-v-purple">
      <div class="flex mb-6">
        <span
          class="flex justify-center align-center bg-red-900 bg-opacity-75 w-14 h-14 ml-4 rounded-2xl"
        >
          <span class="material-symbols-outlined text-4xl text-white pt-2">
            help
          </span>
        </span>
      </div>
      <div class="mb-6">
        <span class="text-xl font-bold text-v-purple">Remove Guesswork</span>
      </div>
      <div>
        <p class="text-center mt-4 text-lg">
          Planning an event can be complicated and involves a lot of guesswork.
          Venuoso removes all the guessing from event planning, providing you a
          canvas to create the perfect event.
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center ml-8 mt-3 mr-6 text-v-purple">
      <div class="flex mb-6">
        <span
          class="flex justify-center align-center bg-red-900 bg-opacity-75 w-14 h-14 ml-4 rounded-2xl"
        >
          <span class="material-symbols-outlined text-4xl text-white pt-2">
            sync
          </span>
        </span>
      </div>
      <div class="mb-6">
        <span class="text-xl font-bold text-v-purple">Easily Reschedule</span>
      </div>
      <div>
        <p class="text-center mt-4 text-lg">
          Yearly, monthly, and even weekly events are easy to reschedule with
          just a click. Save your event profile to be re-used as much as needed.
          Venue owners can even save client profiles for easy check-out and
          reoccuring billing.
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center ml-8 mt-3 mr-6 text-v-purple">
      <div class="flex mb-6">
        <span
          class="flex justify-center align-center bg-red-900 bg-opacity-75 w-14 h-14 ml-4 rounded-2xl"
        >
          <span class="material-symbols-outlined text-4xl text-white pt-2">
            person_check
          </span>
        </span>
      </div>
      <div class="mb-6">
        <span class="text-xl font-bold text-v-purple">Perfect Planning</span>
      </div>
      <div>
        <p class="text-center mt-4 text-lg">
          Know exactly what to expect. Venuoso provides a layout of exactly what
          your event should look like to the benue owner before a single chair
          is placed. This means venue owners know their customer's needs, down
          to the smallest details, leading a successful event every time.
        </p>
      </div>
    </div>
  </div>
</div>
