<div class="flex flex-col h-full pt-20">
  <!-- Top Navigation Bar -->
  <div class="flex-none bg-gray-200 p-2">
    <div class="flex">
      <!-- Welcome User Block -->
      <div class="flex-none text-black mr-4 w-auto">
        <div class="flex items-center pl-2">
          <img
            src="https://i.pinimg.com/originals/04/8b/8d/048b8dbc061a104f266176b1b7bf828c.jpg"
            alt="Profile Picture"
            class="w-10 h-10 rounded-full mr-2"
          />
          <span class="text-lg"
            >Welcome, $Woof!
            <button
              class="m-2 px-2 border border-red-300 hover:bg-red-400 hover:text-black text-gray-700 text-sm rounded"
            >
              Sign out
            </button></span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-1 overflow-hidden">
    <!-- Left Sidebar Menu -->
    <div class="flex flex-col w-auto bg-slate-800 text-white overflow-y-auto">
      <div class="p-4">
        <input
          type="text"
          placeholder="SEARCH"
          class="w-full p-2 mb-4 border rounded"
        />
        <nav>
          <!-- Seating Category -->
          <div class="category">
            <summary
              (click)="toggleCategory($event)"
              class="cursor-pointer hover:font-semibold hover:bg-slate-500 text-lg flex items-center p-2 rounded-md"
            >
              Seating
            </summary>
            <ul
              class="ml-4 mt-2 space-y-1 overflow-hidden transition-max-height duration-300 max-h-0"
            >
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Chairs
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Sofas
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Benches
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Barstools
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Lounge Chairs
              </li>
            </ul>
          </div>

          <!-- Tables Category -->
          <div class="category">
            <summary
              (click)="toggleCategory($event)"
              class="cursor-pointer hover:font-semibold hover:bg-slate-500 text-lg flex items-center p-2 rounded-md"
            >
              Tables
            </summary>
            <ul
              class="ml-4 mt-2 space-y-1 overflow-hidden transition-max-height duration-300 max-h-0"
            >
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Dining Tables
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Cocktail Tables
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Coffee Tables
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Conference Tables
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Buffet Tables
              </li>
            </ul>
          </div>

          <!-- Staging Category -->
          <div class="category">
            <summary
              (click)="toggleCategory($event)"
              class="cursor-pointer hover:font-semibold hover:bg-slate-500 text-lg flex items-center p-2 rounded-md"
            >
              Staging
            </summary>
            <ul
              class="ml-4 mt-2 space-y-1 overflow-hidden transition-max-height duration-300 max-h-0"
            >
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Stage Platforms
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Podium
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Risers
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Backdrops
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Stage Skirting
              </li>
            </ul>
          </div>

          <!-- Lighting Category -->
          <div class="category">
            <summary
              (click)="toggleCategory($event)"
              class="cursor-pointer hover:font-semibold hover:bg-slate-500 text-lg flex items-center p-2 rounded-md"
            >
              Lighting
            </summary>
            <ul
              class="ml-4 mt-2 space-y-1 overflow-hidden transition-max-height duration-300 max-h-0"
            >
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Spotlights
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                String Lights
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                LED Uplights
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Chandeliers
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Lanterns
              </li>
            </ul>
          </div>

          <!-- Audio-Visual Category -->
          <div class="category">
            <summary
              (click)="toggleCategory($event)"
              class="cursor-pointer hover:font-semibold hover:bg-slate-500 text-lg flex items-center p-2 rounded-md"
            >
              Audio-Visual
            </summary>
            <ul
              class="ml-4 mt-2 space-y-1 overflow-hidden transition-max-height duration-300 max-h-0"
            >
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Sound System
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Microphones
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Speakers
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Projectors
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Screens
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Video Cameras
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Monitors
              </li>
            </ul>
          </div>

          <!-- Decor Category -->
          <div class="category">
            <summary
              (click)="toggleCategory($event)"
              class="cursor-pointer hover:font-semibold hover:bg-slate-500 text-lg flex items-center p-2 rounded-md"
            >
              Decor
            </summary>
            <ul
              class="ml-4 mt-2 space-y-1 overflow-hidden transition-max-height duration-300 max-h-0"
            >
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Centerpieces
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Floral Arrangements
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Balloons
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Drapes
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Banners
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Wall Art
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Rugs
              </li>
            </ul>
          </div>

          <!-- Dining and Catering Category -->
          <div class="category">
            <summary
              (click)="toggleCategory($event)"
              class="cursor-pointer hover:font-semibold hover:bg-slate-500 text-lg flex items-center p-2 rounded-md"
            >
              Dining and Catering
            </summary>
            <ul
              class="ml-4 mt-2 space-y-1 overflow-hidden transition-max-height duration-300 max-h-0"
            >
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Linens
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Tablecloths
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Napkins
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Silverware
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Glassware
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Plates
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Serving Platters
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Buffet Stations
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Bar Setup
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Beverage Dispensers
              </li>
            </ul>
          </div>

          <!-- Dance and Entertainment Category -->
          <div class="category">
            <summary
              (click)="toggleCategory($event)"
              class="cursor-pointer hover:font-semibold hover:bg-slate-500 text-lg flex items-center p-2 rounded-md"
            >
              Dance and Entertainment
            </summary>
            <ul
              class="ml-4 mt-2 space-y-1 overflow-hidden transition-max-height duration-300 max-h-0"
            >
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Dance Floor
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                DJ Booth
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Karaoke Machine
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Photo Booth
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Game Tables
              </li>
            </ul>
          </div>

          <!-- Outdoor Equipment Category -->
          <div class="category">
            <summary
              (click)="toggleCategory($event)"
              class="cursor-pointer hover:font-semibold hover:bg-slate-500 text-lg flex items-center p-2 rounded-md"
            >
              Outdoor Equipment
            </summary>
            <ul
              class="ml-4 mt-2 space-y-1 overflow-hidden transition-max-height duration-300 max-h-0"
            >
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Tents
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Heaters
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Cooling Fans
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Umbrellas
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Outdoor Furniture
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Fire Pits
              </li>
            </ul>
          </div>

          <!-- Facilities Category -->
          <div class="category">
            <summary
              (click)="toggleCategory($event)"
              class="cursor-pointer hover:font-semibold hover:bg-slate-500 text-lg flex items-center p-2 rounded-md"
            >
              Facilities
            </summary>
            <ul
              class="ml-4 mt-2 space-y-1 overflow-hidden transition-max-height duration-300 max-h-0"
            >
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Restroom Facilities
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Portable Toilets
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Hand Washing Stations
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Waste Disposal Bins
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Recycling Bins
              </li>
            </ul>
          </div>

          <!-- Transportation and Parking Category -->
          <div class="category">
            <summary
              (click)="toggleCategory($event)"
              class="cursor-pointer hover:font-semibold hover:bg-slate-500 text-lg flex items-center p-2 rounded-md"
            >
              Transportation and Parking
            </summary>
            <ul
              class="ml-4 mt-2 space-y-1 overflow-hidden transition-max-height duration-300 max-h-0"
            >
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Parking Management Equipment
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Valet Parking Stands
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Shuttle Buses
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Golf Carts
              </li>
              <li
                class="hover:font-bold cursor-pointer hover:bg-slate-500 p-2 rounded-md"
              >
                Signage for Parking
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <!-- Main Content Area -->
    <div
      class="flex-1 flex flex-col justify-between bg-white w-full h-full border-half border-gray-500"
    >
      <!-- Toolbar Row 1 Centered at the Top -->
      <div
        class="flex justify-center p-2 rounded-md bg-slate-800 text-white w-auto shadow-sm shadow-slate-300 m-2"
      >
        <div class="flex space-x-6 px-2 items-center">
          <div class="flex items-center space-x-0.5">
            <mat-icon>edit</mat-icon>
            <span class="hidden sm:inline">Edit</span>
          </div>
          <div class="flex items-center space-x-0.5">
            <mat-icon class="text-orange-300">lock</mat-icon>
            <span class="hidden sm:inline text-orange-300">Lock</span>
          </div>
          <div class="h-6 border-l border-gray-300 mx-2"></div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>text_format</mat-icon>
            <span class="hidden sm:inline">Text</span>
          </div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>draw</mat-icon>
            <span class="hidden sm:inline">Draw</span>
          </div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>star</mat-icon>
            <span class="hidden sm:inline">Shapes</span>
          </div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>delete</mat-icon>
            <span class="hidden sm:inline">Delete</span>
          </div>
        </div>
      </div>
      <!-- Main Content with JavaScript Frameworks -->
      <div
        class="flex-1 p-4 bg-white w-full h-full"
        style="
          background-image: url('https://unionandsocial.com/wp-content/uploads/2022/05/200-Guest-Floorplan.jpg');
          background-size: cover;
          background-position: center;
        "
      ></div>
      <!-- Toolbar Row 2 Centered at the Bottom -->
      <div
        class="flex justify-center p-2 rounded-md bg-slate-800 text-white w-auto shadow-sm shadow-slate-300 m-2"
      >
        <div class="flex space-x-6 px-2 items-center">
          <div class="flex items-center space-x-0.5">
            <mat-icon>undo</mat-icon>
            <span class="hidden sm:inline">Undo</span>
          </div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>redo</mat-icon>
            <span class="hidden sm:inline">Redo</span>
          </div>
          <div class="h-6 border-l border-gray-300 mx-2"></div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>zoom_in</mat-icon>
            <span class="hidden sm:inline">Zoom In</span>
          </div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>zoom_out</mat-icon>
            <span class="hidden sm:inline">Zoom Out</span>
          </div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>crop</mat-icon>
            <span class="hidden sm:inline">Crop</span>
          </div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>color_lens</mat-icon>
            <span class="hidden sm:inline">Colors</span>
          </div>
          <div class="h-6 border-l border-gray-300 mx-2"></div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>photo</mat-icon>
            <span class="hidden sm:inline">Photos</span>
          </div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>upload</mat-icon>
            <span class="hidden sm:inline">Upload</span>
          </div>
          <div class="h-6 border-l border-gray-300 mx-2"></div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>download</mat-icon>
            <span class="hidden sm:inline">Save as Image</span>
          </div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>visibility</mat-icon>
            <span class="hidden sm:inline">Preview</span>
          </div>
          <div class="flex items-center space-x-0.5">
            <mat-icon>save</mat-icon>
            <span class="hidden sm:inline">Save</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Side Nav Icon Bar -->
    <div
      class="flex-none w-auto p-2 border-l text-center bg-gray-200 space-y-4"
    >
      <div class="p-2 hover:bg-gray-300 rounded">
        <mat-icon>chat</mat-icon>
      </div>
      <div class="p-2 hover:bg-gray-300 rounded">
        <mat-icon>home</mat-icon>
      </div>
      <div class="p-2 hover:bg-gray-300 rounded">
        <mat-icon>settings</mat-icon>
      </div>
      <div class="p-2 hover:bg-gray-300 rounded">
        <mat-icon>notifications</mat-icon>
      </div>
      <div class="p-2 hover:bg-gray-300 rounded">
        <mat-icon>person</mat-icon>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="flex-none bg-gray-200 p-4 flex justify-between">
    <div class="flex space-x-4">
      <span
        class="text-black pl-2 p-1"
      >
        Currently on:
      </span>
      <span class="bg-gray-700 text-yellow-500 cursor-pointer px-2 p-1 rounded">
        Template Name 1
      </span>
      <span
        class="bg-gray-300 hover:bg-gray-400 cursor-pointer px-2 p-1 rounded"
      >
        Template Name 2
      </span>
      <span
        class="bg-gray-300 hover:bg-gray-400 cursor-pointer px-2 p-1 rounded"
      >
        Template Name 3
      </span>
      <span
        class="bg-gray-300 hover:bg-gray-400 cursor-pointer px-2 p-1 rounded"
      >
        Template Name 3
      </span>
      <mat-icon>add</mat-icon>
    </div>
    <div class="flex space-x-4">
      <span class="bg-gray-300 p-1 px-2 rounded"> Venue_Name </span>
      <span class="bg-gray-300 p-1 rounded"> Last Save : Date/Time </span>
    </div>
  </div>
</div>
