<div
  class="w-full max-w-6xl mt-20 mb-60 flex flex-col justify-center items-center"
>
  <div class="mt-10 mb-20">
    <p class="text-4.5xl text-gray-800">Event Editor Testing Page</p>
  </div>
  <div class="flex w-full">
    <div class="w-1/4 bg-gray-300 flex flex-col items-center">
      <button id="addTable" class="bg-gray-600 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 shadow-md mt-12 w-60">
        Add Rectangular Table
      </button>
      <button id="addCircTable" class="bg-gray-600 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 shadow-md mt-8 w-60">
        Add Circular Table
      </button>
    </div>
    <div class="w-3/4 bg-gray-100">
      <canvas id="myCanvas" width="865" height="800" class="border-2"></canvas>
    </div>
  </div>
</div>
