<div class="grid grid-cols-3 max-w-max gap-5 pt-24 pb-24 w-full px-20 bg-zinc-100" id="features">

  <!-- Row 1 -->
  <div class="p-4 bg-white text-black shadow shadow-gray-400 rounded-2xl">
    <p class="font-extrabold text-2xl">Complete Planning Control</p>
    <hr class="w-auto border-t-1 border-violet-400 p-4">
    Give your clients the power to plan every aspect down to the smallest detail with our custom Event Editor using a simple drag-and-drop interface. 
  </div>
  <div class="p-4 bg-white text-black shadow shadow-gray-400 rounded-2xl">
    <p class="font-extrabold text-2xl">Effortless Communication</p>
    <hr class="w-auto border-t-1 border-violet-400 p-4">
    Use our built-in chat system to directly communicate with clients without ever interrupting your workflow.
  </div>
  <div class="p-4 bg-white text-black shadow shadow-gray-400 rounded-2xl">
    <p class="font-extrabold text-2xl">All Events in One Place</p>
    <hr class="w-auto border-t-1 border-violet-400 p-4">
    Easily manage all of your clients in one easy-to-navigate space and never worry about missing even the smallest detail. 
  </div>
  
  <!-- Row 2 -->
  <div class="p-4 bg-white text-black shadow shadow-gray-400 rounded-2xl">
    <p class="font-extrabold text-2xl">Total Venue Confidence</p>
    <hr class="w-auto border-t-1 border-violet-400 p-4">
    Venuoso's Event Editor enable's you to bring your client's precise vision to life through their design, using your exact inventory.   
  </div>
  <div class="p-4 bg-white text-black shadow shadow-gray-400 rounded-2xl">
    <p class="font-extrabold text-2xl">AI Generated Estimates</p>
    <hr class="w-auto border-t-1 border-violet-400 p-4">
    As your clients design their events using our editor, an estimated cost is generated based on the pricing metrics you can preconfigure for all of your venues.   
  </div>
  <div class="p-4 bg-white text-black shadow shadow-gray-400 rounded-2xl">
    <p class="font-extrabold text-2xl">Inventory Management</p>
    <hr class="w-auto border-t-1 border-violet-400 p-4">
    Our editor provides your clients with real-time inventory numbers as well as "re-stocking" when an event ends, resulting in zero downtime in scheduling your location's next event. 
  </div>
  
  <!-- Row 3 -->
  <div class="p-4 bg-white text-black shadow shadow-gray-400 rounded-2xl">
    <p class="font-extrabold text-2xl">Remove Guesswork</p>
    <hr class="w-auto border-t-1 border-violet-400 p-4">
    Planning an event can be complicated and involves a lot of guesswork. Venuoso removes all the guessing from event planning, providing your clients a canvas to create the perfect event. 
  </div>
  <div class="p-4 bg-white text-black shadow shadow-gray-400 rounded-2xl">
    <p class="font-extrabold text-2xl">Easily Reschedule</p>
    <hr class="w-auto border-t-1 border-violet-400 p-4">
    Yearly, monthly, and even weekly events are easy to reschedule with just a click. Save your client's event profile to be re-used as much as needed. Venue owners can save client profiles for easy check-out and reoccuring billing. 
  </div>
  <div class="p-4 bg-white text-black shadow shadow-gray-400 rounded-2xl">
    <p class="font-extrabold text-2xl">Perfect Planning</p>
    <hr class="w-auto border-t-1 border-violet-400 p-4">
    Know exactly what to expect. Venuoso provides a layout of exactly what your client's event should look directly to you before a single chair is placed. This means you know your customer's needs, down to the smallest details, leading to a successful event every time.  
  </div>
  
</div>

<!-- 
</div> -->